$main-color: #fafbff;
$second-background-color: #fff;
$current-background-color: #5932ea;

$text-main-color: #292d32;
$text-second-color: #9197b3;
$accent-color: #16c098;
$current-text-color: #fff;

$btn-disable-bg: #f5f5f5;
$btn-disable-txt: #404b52;

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
